<h2>Iniciar sesión</h2>

<div class="container">
    <form id="loginForm">
        <label for="username">Usuario:</label><br />
        <input type="text" class="bg-gray-50 border" id="username" name="username" required /><br /><br />

        <label for="password">Contraseña:</label><br />
        <input type="password" id="password" name="password" required /><br /><br />

        <button type="submit">Iniciar sesión</button>
    </form>
    <button id="sign-up">No tienes cuenta?</button>

    <p id="loginError" style="color: red; display: none;">Credenciales inválidas</p>
</div>